  .logo {
    font-size: 1.7rem;
    color: #87A96B;
    font-family: Alef;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .02em;
    line-height: 1.6em;
    cursor: pointer;
  }

  .logo-style{
    width: 18%;
  }

  .contact-info{
    font-size: 1.2rem;
    cursor: pointer;
  }

  .bg-banner{
    background-image: url(../../images/banner.jpg);
    height: 6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btn-login{
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

  .logoName{
    margin-left: 5rem;
  }

  
  



  