.container {
  margin: 0 auto;
  padding: 1rem;
  background: #f8f9fa;
  width: 80%;
}

.font-style{
  font-family: Alef;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .02em;
  line-height: 1.6em;
  color: rgb(14, 13, 13);
}

.custom-link{
  color: #4CAF50;
  border-bottom: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.custom-link:hover{
  text-decoration: underline;
  color: #214c22;
}


.footer {
  color: rgba(0, 0, 0, 0.455);
}

.social-icons{
  display: flex;
  align-items: center;
}

.social-icons .fa-instagram,
.social-icons .fa-facebook,
.social-icons .fa-youtube {
  margin-right: 1rem;
  cursor: pointer;
}

.footer .social-icons a {
  color: rgba(0, 0, 0, 0.455);
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: rgba(0, 0, 0, 0.901); 
}

.form-row {
  display: flex;
  align-items: center;
}

.email-input {
  flex: 1;
  margin-right: 0.6rem;
}

.submit-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

